---
import Player from "../../../react-components/game/Player"

const playerBg = "bg-blue-800"
---

<main>
         <!-- Arrange players on the pitch -->
         <div class="absolute right-10 top-5" style="">
            <Player bg={playerBg} number={1} client:load className="" />
        </div>
        <div class="absolute right-10 my-10 bottom-0 " style="">
            <Player bg={playerBg} number={3} client:load className="" />
        </div>
        <div class="absolute right-10 -top-28" style="">
            <Player bg={playerBg} number={5} client:load className="" />
        </div>
        
        
        <!-- midfield -->
    
        <div class="absolute right-[15rem] -top-10" style="">
            <Player bg={playerBg} number={4} client:load className="" />
        </div>
        <div class="absolute right-[15rem] my-10 bottom-16 " style="">
            <Player bg={playerBg} number={8} client:load className="" />
        </div>
    
        <!-- forward -->
        <div class="absolute left-40 top-5" style="">
            <Player bg={playerBg} number={10} client:load className="" />
        </div>
        <div class="absolute left-36 my-10 bottom-0 " style="">
            <Player bg={playerBg} number={7} client:load className="" />
        </div>
        <div class="absolute left-36 -top-28" style="">
            <Player bg={playerBg} number={11} client:load className="" />
        </div>
    
</main>